*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


body{
  background: #FCFAF9;
}

.colorimg{
  position:absolute;
  top:0;
  right:0;
}

header{
  margin-top:40px;
  padding:0 24px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}


.textconteiner{
  margin-top:64px;
  padding:0 24px;
}

.textconteiner-h{

  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.454545px;
  color: #191826;
}

.textconteiner-p{
  margin-top:20px;
  width:326px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #191826;
  
}

.blackdiv{
  position: relative;
  display:flex;
  justify-content:center;
  margin-top:166px;
  width:100%;
  height:600px;
  background: #191826;
  border-radius: 12px;
}

.backgroundimg{
  width:280px;
  height:420px;
}

.mobileimage{
  top:-100px;
  position:absolute;
}

.reddiv{
  padding:0 36px;
  top:385px;
  position:absolute;
  background: #FA7453;
  border-radius: 12px; 
  width:375px;
  height:546px;
}

.reddiv-h{
  margin-top:48px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #FCFAF9;
}

.reddiv-p{
  margin-top:12px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FCFAF9;
}

.dollardiv{
  margin-top:36px;
  display:flex;
}

.dollar-h{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;
  color: #FCFAF9;
}

.dollar-p{
  margin-top:10px;
  margin-left:20px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #FCFAF9;
}

.applebutton{
  margin-top:32px;
  background: #191826;
  width:296px;
  height:61px;
  border:none;
  border-radius:12px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.18px;
  color: #FCFAF9;
}

.androidbutton{
  margin-top:16px;
  width:296px;
  height:61px;
  background: #FCFAF9;
  border-radius: 12px;
  border:none;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.18px;
  color: #191826;
}

.applebutton{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:8px;
}

.appleimg{
  margin-bottom:3px;
}


.androidbutton{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:11px;
}

footer{
  padding-left:24px;
  padding-right:24px;
  padding-bottom:80px;
  margin-top:400px;
}
footer h2{ 
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}
footer p{
  margin-top:32px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #191826;
}
footer span{
  font-weight:700;

}

.icondiv{
  margin-top:64px;
  display:flex;
  gap:20px;
}

.backgroundcolor{
  display:none;
}

.ovalsimg{
  display:none;
}

.tabletmobimg{
  display:none;
}

.multicolor{
  display:none;
}

.desktopovals{
  display:none;
}



/* tablet version */



@media screen and (min-width:768px){

  .textconteiner{
    padding:0 39px;
  }


  header{
    padding:0 39px;
    margin-top:60px;
  }

  .textconteiner{
    margin-top:95px;
  }
  .textconteiner-h{
    width:520px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.727273px;
    color: #191826;
  }

  .textconteiner-p{
    margin-top:28px;
    width:514px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #191826; 
  }

  .colorimg{
    display:none;
  }

  .ovalsimg{
    display: block;
    position:absolute;
    top:0;
    right:0;
  }

  .backgroundcolor{
    display: block;
    position:absolute;
    top:0;
    right:0px;
    
  }

  .mobilediv{
    padding:0 39px;
    margin-top:249px;
  }

  .mobileimage{
    display:none;
  }

  .backgroundimg{
    margin-top:-27px;
    margin-right:-40px;
  }

  .reddiv{
    padding:0 48px;
    width:399px;
    right:58px;
    top:150px;
  }

  .tabletmobimg{
    display: block;
    position:absolute;
    left:60px;
    top:-140px;
  }

   footer{
     margin-top:183px;
     padding:0 40px;
     display:flex;
     justify-content: space-between;
     align-items:center;
     margin-bottom:85px;
  
 
   }
   
   .footertext{

   }


  footer p{
    width:366px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
    
  }

  .multicolor{
    display:none;
  }




  
}


/* desktop version */


@media screen and (min-width:1440px) {

  .multicolor{
    display: block;
    position:absolute;
    top:0;
    right:0;
  }

  .backgroundcolor{
    display:none;
  }

  .ovalsimg{
    display:none;
  }

  .desktopovals{
    position: absolute;
    display:block;
    top:0;
    right:0;
  }

  header{
    padding:0 166px;
  }

  .textconteiner{
    margin-top:127px;
    padding:0 165px;

  }

  .textconteiner-h{
    width:1015px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #191826;
  }

  .textconteiner-p{
    margin-top:40px;
    width:825px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #191826;
  }

  .tabletmobimg{
    width:280px;
    height:606px;
  }


  .mobilediv{
     margin-top:321px;
     padding:0 165px;

  }

  .tabletmobimg{
    top:-200px;
    left:118px;
  }

  .blackdiv{
    padding-right:210px;
    padding-top:-20px;
  }

  .reddiv{
    top:90px;
    right:120px;
    padding:0 54px;
    width:446px;
    height:625px;
  }

  .reddiv-h{
    margin-top:58px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #FCFAF9;
  }

  .reddiv-p{
    margin-top:22px;
    width:333px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #FCFAF9;
  }

  .buttondiv{
    margin-top:46px;
  }

  .dollardiv{
    margin-top:39px;
  }

  .applebutton{
      width:333px;
      height:61px;
  }

  .applebutton:hover{
    background: #66E2DC;
  }


  .androidbutton{
      width:333px;
      height:61px;
  }

  .androidbutton:hover{
    background: #FFB964;
  }

  footer{
    margin-top:202px;
    margin-bottom:91px;
    padding:0 165px;
  }

  .footertext p{
    margin-top:0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
  }




  .footertext{
    display:flex;
    gap:137px;
   
  }

  .icondiv{
    z-index: 1;
    margin-top:0;
  }


  .icon:hover path{
    fill:#FA7453;
  }

  






  }



