*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  width:100;
  background: #FCFAF9;
}


main{
  padding:16px;
}

.modernconteiner{
  display:flex;
  flex-direction:column;
  gap:32px;
}

.title{
  width:280px;
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 55px;
  text-transform: uppercase;
  color: #151515; 
}

.title-p{
  width:339px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #444444;
}


.yourdayconteiner{
  margin-top:120px;
}

.yourday-h{
  margin-top:25px;
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 45px; 
  text-transform: uppercase;
  color: #151515;
}

.yourday-h2{
  width:300px;
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 45px; 
  text-transform: uppercase;
  color: #151515;
}

.yourday-p{
  margin-top:21px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #444444; 
}

.photo-1{
  margin-top:32px;
}

.photo-2{
  margin-top:14px;
}

.black-div{
  padding:24px;
  margin-top:14px;
  height:293px;
  width:343px;
  background:black;
  color:white;
}

.blackdiv-h{
  margin-top:25px;
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.blackdiv-p{
  margin-top:24px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}




.black-button{
  height:72px;
  width:204px;
  background: #151515;
  border:none;
  margin:0;
  border:0;
  outline:0;

}

.button-conteiner{
  display:flex;
}


.black-button a {
  text-decoration:none ;
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 3.63636px;
  color: #FFFFFF;
}

.gold-button{
  width:56px;
  height:72px;
  background: #D5966C;
  border:none;
  display:flex;
  justify-content:center;
}
.gold-button img{
  width:8px;
}

.yourday-h{
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
  color: #151515;
}


footer{
  height:336px;
  margin-top:100px;
  padding:32px;
  background:black;
  width:100%;
  color:white;
}

.footer-h{
  margin-top:10px;
  width:50px;
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  color:white;
}



.footer-p{
  width:310px;
  margin-top:38px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.footerdiv{
  margin-top:40px;
}

svg{
  margin-right:15px;
}

.tabletimg{
  display:none;
}

/* tablet version */
@media screen and (min-width:768px){
   
  .mobileimg{
    display:none;
  }

  .tabletimg{
    display: block;
  }

  .modernconteiner{
    position:absolute;
    top:100px;
    left:397px;
    width:339px;
  }

  .yourdayconteiner{
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-between;
  }

  .yourday-p{
    width:223px;
  }

  main{
    padding:0 40px;
  }

  .yourimage{
    width:398px;
    height: 400px;
  }

  .photo-1{
    margin-top:0;
    width:398px;
    height:720px;
  }

  .photoconteiner{
    margin-top:11px;
    display:flex;
    gap:11px;
  }

  .photo-2{
    margin-top:0;
    width:280px;
    height:313px;
  }

  .black-div{
    margin-top:0;
    width:280px;
    height:396px;
  }

  .blackdiv-p{
    width:223px;
  }

  .blackdiv-h{
    margin-top:60px;
  }

  .rightphoto{
    display:flex;
    flex-direction: column;
    gap:11px;
  }

  footer{
    padding-top:56px;
    height:216px;
    display:flex;
    justify-content: space-between;
  }

  .footer-h2{
    margin-top:0;
  }

  .footer-p{
    width:281px;
    margin-top:0;
  }

  .footerdiv{
    margin-top:0px;
  }

}

/* desktop version */

@media screen and (min-width:1440px) {
  .tabletimg{
    padding-left:360px;
    
  }


  .headerdiv{
    position:absolute;
    background:black;
    width:360px;
    height:700px;
  }

  .button-p{
    position:absolute;
    top:50px;
    left:348px;
   

  }

  .title-p{
    width:290px;
  }
  
  .button-conteiner{
    margin-top:50px;
  }
  
  main{
    padding:70px;
  }
  .title{
    background: linear-gradient(to left, black, black 43%, #eee 10%, white 10%);     -webkit-background-clip: text;     -webkit-text-fill-color: transparent;
    margin-left:-324px;
    width:500px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    text-transform: uppercase;
  }

  .yourday-p{
    width:290px;
  }

  .yourimage{
    margin-right:130px;
    width:700px;
    height:400px;
  }

  .photoconteiner{
    gap:30px;
    margin-left:100px;
    margin-top:30px;
  }

  .photo-1{
    width:635px;
    height:720px;
  }

  .photo-2{
    width:445px;
    height:313px;
  }
  .black-div{
    padding:40px;
    padding-top:10px;
    width:445px;
    height:377px;
  }

  .blackdiv-h{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF; 
  }

  .blackdiv-p{
   width:350px;
   font-family: 'Outfit';
   font-style: normal;
   font-weight: 300;
   font-size: 22px;
   line-height: 32px;
   color: #FFFFFF;
  }

  .rightphoto{
    gap:30px;
  }

  footer{
    padding:100px;
    padding-top:80px;
    margin-top:20px;
  }

  .footer-p{
    width:430px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    
  }

  .p-hdiv{
    margin-left:100px;
  }
  

}